<app-toolbar [toolbarType]="toolbarState()" (toolbarAction)="onToolbarAction($event)" />

<form [formGroup]="formGroup" class="editable-container">
  <div formArrayName="blocks">
    @for (block of itemsFormArray.controls; track i; let i = $index;) {
      <div [formGroupName]="i" class="block-container">
        <div class="hash">#</div>
        <div #editableDiv
             formControlName="content"
             (click)="onClick($event)"
             (mouseup)="onMouseUp($event)"
             (keydown)="onKeydown($event, i)"
             contenteditable
             data-placeholder="Type something..."
             class="editable-div">
        </div>
      </div>
    }
  </div>
</form>


<div class="xxx" (click)="addItem()"> </div>


