<app-toolbar [toolbarActionInput]="toolbarAction()" (toolbarAction)="onToolbarAction($event)" />

<app-toolbar
  [toolbarActionInput]="toolbarAction()"
  (toolbarAction)="onToolbarAction($event)"
/>

<form [formGroup]="formGroup" class="editable-container">
  <div formArrayName="blocks">
    @for (control of blocksFromArray.controls; track i; let i = $index) {
      <app-editor-block
        [blockForm]="$any(control)"
        [index]="i"
        (blockEvent)="onBlockEvent($event)"
      />
    }
  </div>
</form>

<div class="xxx" (click)="addBlock()"></div>


