html {
  font-family: system-ui;
}

html, body {
  margin:0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #292d34;
  margin: 0 0 24px 0;
}

p {
  font-size: 16px;
  color: #292d34;
}

.code-block {
  background: red;
}
